body {
    background-color: black;
    color: beige;

}

h1 {
    text-align: center;
}
h2 {
    text-decoration: underline;
}
.logos1 {
    width:25px;
    height:25px;
}
.logos2 {
    width: 40px;
    height:30px;
}






a:hover {
    color: rgb(255, 208, 0)
}

a:active {
    color: hotpink;
}

a:link {
    color: darkcyan;
}