body {
    background-color: black;
    color: aliceblue;

}

h1 {
    text-align: center;
    color: rgb(22, 108, 189);
    font-family: fantasy;
    font-size: 2.5cm;
}

h2 {
    text-decoration: underline;
    color: rgb(91, 150, 206);
    font-family: fantasy;
}

h3 {
    color: aliceblue;
}

.logos1 {
    width: 25px;
    height: 25px;
}

.logos2 {
    width: 40px;
    height: 30px;
}

.logos3 {
    width: 50px;
    height: 40px;
}

.class1 {
    width: 12cm;
    height: 6cm;
}

.class2 {
    width: 6cm;
    height: 8cm;
}

.class3 {
    width: 16cm;
    height: 8cm;
}

.class4 {
    width: 16cm;
    height: 8cm;
}

.class5 {
    width: 20cm;
    height: 10cm;
}

.class6 {
    width: 16cm;
    height: 9cm;
}

.class7 {
    color: rgb(91, 150, 206);
    font-family: fantasy;
    font-size: x-large;
}

.class8 {
    width: 100%;
    height: max-content;
}

.class9 {
    text-align: center;
    font-size: larger;
}

table {
    border-spacing: 15px;
}

.icono1 {
    width: 1.5cm;
    height: 1.5cm;
    margin-left: auto;
    display: block;
}

a:hover {
    color: rgb(255, 208, 0)
}

a:active {
    color: hotpink;
}

a:link {
    color: darkcyan;
}